@using TravelTripProje.Models.Sınıflar
@model List<Hakkimizda>

@{
    ViewBag.Title = "AboutIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımzda</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Resim</th>
        <th>Açıklama</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.imageUrl.Substring(0,80)...</td>
            <td>@item.Description.Substring(0,50)</td>
            <td><a href="/Admin/UpdateAbout/@item.Id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

