
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Destinations</h3>
            <img src="images/dest_banner.jpg" alt="" />
        </div>
        </div>
</div>
