@using TravelTripProje.Models.Sınıflar
@model List<İletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}



@*<div class="contact">
    <div class="wrap">
        <div class="contact-top">
            <h3>İletişim Bilgileri</h3>
            <p>
                Sevgili gezgin kardeşlerim.<br />
                Dünya bir kitaptır. Seyahat etmeyenler yalnızca bir  sayfasını okurlar.<br />
                Haydi benimle iletişime geç ve merar ettiklerini sor..
            </p>
            
        </div>   
    </div>
</div>*@
<div class="support">
    <div class="container">
        <h3>İletişime Geç!</h3>
        
        </div>

        <div class="container py-5 main">
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="NameSurname" placeholder="İsim Soyisim" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="Email" placeholder="E-Posta Adresi" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <textarea type="text" class="form-control" name="Description" placeholder="Açıklama" rows="8" required></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary px-4">Mesajı Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>